* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body {
    text-align: center;
}



h1, p {
    background-color: #DDE0E3; /* Light gray*/
}


em, strong {
    background-color: #B2D6FF; /* Light Blue*/

}

h1 {
    padding:50px;
    border: 1px solid #5D6063;
}

p {
  padding: 20px 0 20px 10px;
    margin-top:25px;
    margin-bottom: 50px;
}
/*
strong {

    margin:50px; /* ignore the top and bottom.*/
    /*padding:50px;
}*/


div {
    color:#FFF;
    background-color:#5995DA;
    font-weight: bold;
    padding:20px;
    text-align: center;
    border:2px solid #5D6063;
    border-radius:5px;
    width:200px;
    white-space: inherit;
    box-sizing: border-box;
    margin: 20px auto;
}
